<!-- Template for memorization trials page -->

<p data-i18n="litw-memorization-prompt"></p>

<!-- img: mediumPartB.png -->
<!-- there will be 8 choices for user to choose from-->
<div>
	<label for="image1"><img src="img/stim-img/mediumEmoji1.png"></label>
	<input type= "checkbox" name="memorization" id="image1" value="incorrect" />

	<label for="image2"><img src="img/stim-img/mediumEmoji2.png" /></label>
	<input type= "checkbox" name="memorization" id="image2" value="correct" />

	<label for="image3"><img src="img/stim-img/emojiMedium.png" /></label>
	<input type= "checkbox" name="memorization" id="image3" value="correct" />

	<label for="image4"><img src="img/stim-img/" /></label>
	<input type= "checkbox" name="memorization" id="image4" value="incorrect" />

	<label for="image5"><img src="img/stim-img/" /></label>
	<input type= "checkbox" name="memorization" id="image5" value="incorrect" />

	<label for="image6"><img src="img/stim-img/" /></label>
	<input type= "checkbox" name="memorization" id="image6" value="incorrect" />

	<label for="image7"><img src="img/stim-img/" /></label>
	<input type= "checkbox" name="memorization" id="image7" value="incorrect" />

	<label for="image8"><img src="img/stim-img/emojiMedium8.png" /></label>
	<input type= "checkbox" name="memorization" id="image8" value="correct" />
</div>

<script>

	/* When the  page first starts, all 8 are not picked and since 5 are incorrect
	and not supposed to be picked, the number of correct is 5*/
	var correct = 5; 

	$(document).ready(function() {
		var answer = {};
		answer["correct"] = correct;
		
		$("#image1").on("change", function() {
			if (this.checked) {
				correct--;
			} else {
				correct++;
			}
			answer["correct"] = correct;
		});

		$("#image2").on("change", function() {
			if (this.checked) {
				correct++;
			} else {
				correct--;
			}
			answer["correct"] = correct;
		});

		$("#image3").on("change", function() {
			if (this.checked) {
				correct++;
			} else {
				correct--;
			}
			answer["correct"] = correct;
		});

		$("#image4").on("change", function() {
			if (this.checked) {
				correct--;
			} else {
				correct++;
			}
			answer["correct"] = correct;
		});
		$("#image5").on("change", function() {
			if (this.checked) {
				correct--;
			} else {
				correct++;
			}
			answer["correct"] = correct;
		});

		$("#image6").on("change", function() {
			if (this.checked) {
				correct--;
			} else {
				correct++;
			}
			answer["correct"] = correct;
		});

		$("#image7").on("change", function() {
			if (this.checked) {
				correct--;
			} else {
				correct++;
			}
			answer["correct"] = correct;
		});

		$("#image8").on("change", function() {
			if (this.checked) {
				correct++;
			} else {
				correct--;
			}
			answer["correct"] = correct;
		});
	});

</script>