<p></p>
<div>
<p id="prompt"></p>
<canvas id="myCanvas" width="800" height="550">
</canvas>
</div>

<script>
	$(document).ready(function() {
		var clickedOn = false;
		document.getElementById("prompt").innerHTML = document.getElementById("prompttouse").innerHTML;
		var context = document.getElementById('myCanvas').getContext("2d");
		var img = new Image();
		var x = -100;
		var y = -100;
		var point = {};
		img.src = document.getElementById("imagetouse").innerHTML;
		img.onload = function() {
			context.drawImage(img, 0, 0, img.width * 0.78, img.height * 0.75);
		}
	});
</script>
