<p></p>
<div>
<canvas id="myCanvas" width="800" height="550">
</canvas>
</div>
<!--
<div>
	<img src="img/stim-img/mediumPartB.png"/>
</div>. -->
<script>
	$(document).ready(function() {
		var clickedOn = false;
		var context = document.getElementById('myCanvas').getContext("2d");
		var img = new Image();
		var x = -100;
		var y = -100;
		var point = {};
		img.src = document.getElementById("imagetouse").innerHTML;
		img.onload = function() {
			context.drawImage(img, 0, 0, img.width * 0.78, img.height * 0.75);
		}
		$("#myCanvas").click(function(e) {
			var offset = $(this).offset();
			newX = e.pageX - offset.left;
			newY = e.pageY - offset.top;
			if (clickedOn == false) {
			} else {
				clickedOn = true;
				x = newX;
				y = newY;
				context.closePath();
			}
			point["x"] = x;
			point["y"] = y;
		})

		//study.submitData(point);
	});
</script>
