<!-- Template for memorization trials page -->

<p data-i18n="litw-memorization-prompt"></p>

<!-- img: lowPartB.png -->
<!-- there will be 8 choices for user to choose from-->
<div>
	<label for="image1"><!-- Image goes in here for label--></label>
	<input type= "checkbox" name="memorization" id="image1" value="incorrect" />

	<label for="image2"><!-- Image goes in here for label--></label>
	<input type= "checkbox" name="memorization" id="image2" value="correct" />

	<label for="image3"><!-- Image goes in here for label--></label>
	<input type= "checkbox" name="memorization" id="image3" value="correct" />

	<label for="image4"><!-- Image goes in here for label--></label>
	<input type= "checkbox" name="memorization" id="image4" value="incorrect" />

	<label for="image5"><!-- Image goes in here for label--></label>
	<input type= "checkbox" name="memorization" id="image5" value="incorrect" />

	<label for="image6"><!-- Image goes in here for label--></label>
	<input type= "checkbox" name="memorization" id="image6" value="incorrect" />

	<label for="image7"><!-- Image goes in here for label--></label>
	<input type= "checkbox" name="memorization" id="image7" value="incorrect" />

	<label for="image8"><!-- Image goes in here for label--></label>
	<input type= "checkbox" name="memorization" id="image8" value="correct" />
</div>

